<template>
    <div class="container">
        <section class="h-screen">
  <div class="px-6 h-full text-gray-800">
    <div
      class="flex xl:justify-center lg:justify-between justify-center items-center flex-wrap h-full g-6"
    >
      <div
        class="grow-0 shrink-1 md:shrink-0 basis-auto xl:w-6/12 lg:w-6/12 md:w-9/12 mb-12 md:mb-0"
      >
        <img class="med" src="../download.svg">
      </div>
      <div class="xl:ml-20 xl:w-5/12 lg:w-5/12 md:w-8/12 mb-12 md:mb-0">
        <form @submit.prevent="submitLogin">
          <div class="flex flex-row items-center justify-center lg:justify-start">
            
            
          </div>

          <div
            class="flex items-center my-4 before:flex-1 before:border-t before:border-gray-300 before:mt-0.5 after:flex-1 after:border-t after:border-gray-300 after:mt-0.5"
          >
            <p class="text-center font-semibold mx-4 mb-0">LOGIN</p>
          </div>

          <!-- Email input -->
          <div class="mb-6">
            <input
              type="text"
              class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
              id="exampleFormControlInput2"
              placeholder="Email address"
              v-model="email"
            />
          </div>

          <!-- Password input -->
          <div class="mb-6">
            <input
              type="password"
              class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
              id="exampleFormControlInput2"
              name="password"
              placeholder="Password"
              v-model="password"
            />
          </div>

          <div class="flex justify-between items-center mb-6">
            <div class="form-group form-check">
              
              
            </div>
            
          </div>

          <div class="containerBtn text-center lg:text-left">
            <button
              type="submit"
              class="inline-block px-7 py-2 bg-blue-600 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
            >
              Login
            </button>
            <p class="text-sm font-semibold mt-2 pt-1 mb-0">
              Don't have an account?
              <a
                href="/create"
                class="text-red-600 hover:text-red-700 focus:text-red-700 transition duration-200 ease-in-out"
                >Register</a
              >
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
    </div>
</template>

<script setup>
    const email = ref('');
    const password = ref(''); 

    async function submitLogin() {
        
        let formData = {};
        
        console.log(formData);
        formData['email'] = email.value;
        formData['password'] = password.value; 
        
        await $fetch('http://127.0.0.1:8000/api/login', {
            method: 'POST',
            body: JSON.stringify(formData)
            
        })
        .then((res) => {
          console.log(res);
          if(res.status == 'success') {
            alert('Usuario logado')
          }else {
            alert('Usuario n autorizado')
          }
        }); 

        
    }
</script> 

<style scoped>
  .med {
    position: absolute;
    width: 40%;
    left: 12vh;
    bottom: 21vh;
  }
  
</style>